@font-face {
  font-family: 'iconfont';  /* Project id 2999352 */
  src: url('//at.alicdn.com/t/c/font_2999352_l0axbexx1w.woff2?t=1739774346435') format('woff2'),
  url('//at.alicdn.com/t/c/font_2999352_l0axbexx1w.woff?t=1739774346435') format('woff'),
  url('//at.alicdn.com/t/c/font_2999352_l0axbexx1w.ttf?t=1739774346435') format('truetype');
}

.iconfont {
  font-family:"iconfont" !important;
  font-size:16px;
  font-style:normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.my_icon-task:before {
  content: "\e610";
}

.my_icon-chengji:before {
  content: "\e633";
}

.my_icon-liebiao:before {
  content: "\e600";
}

.my_icon-setting:before {
  content: "\e78e";
}

.my_icon-edit-square:before {
  content: "\e791";
}

