<!DOCTYPE html>
<html lang='zh-CN'>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimum-scale=1.0, maximum-scale=1.0">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <title>Munjie</title>
    <script src="https://ssl.captcha.qq.com/TCaptcha.js"></script>
    <script type="text/javascript" src="/static/live2dw/lib/L2Dwidget.min.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/font-awesome/css/font-awesome.min.css">

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/aplayer/dist/APlayer.min.css">
    <script src="https://cdn.jsdelivr.net/npm/aplayer/dist/APlayer.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/meting@2.0.1/dist/Meting.min.js"></script>
    <div>
      <meting-js
        server="netease"
        type="playlist"
        id="640293594"
        fixed="true"
        autoplay="false"
        loop="all"
        order="random"
        preload="auto"
        list-folded="ture"
        list-max-height="300px"
        mutex="true"
        mini="true"
        lrc-type="1">
      </meting-js>
    </div>

  </head>
  <body>

    <noscript>Java 技术，更近一步</noscript>
    <div id="app"></div>
<!--    <script src="https://cdn.jsdelivr.net/gh/stevenjoezhang/live2d-widget@latest/autoload.js"></script>-->
<!--    <script src="https://cdn.jsdelivr.net/gh/Munjie/live2d-widget@v0.8.3/autoload.js"></script>-->
    <script src="https://cdn.jsdelivr.net/gh/Munjie/live2d_web@2.0.3/autoload.js"></script>
    <script>
      onload = function() {
        var click_cnt = 0;
        var $html = document.getElementsByTagName("html")[0];
        var $body = document.getElementsByTagName("body")[0];
        $html.onclick = function(e) {
          var $elem = document.createElement("b");
          $elem.style.color = "#E94F06";
          $elem.style.zIndex = 99999999;
          $elem.style.position = "absolute";
          $elem.style.select = "none";
          var x = e.pageX;
          var y = e.pageY;
          $elem.style.left = (x - 10) + "px";
          $elem.style.top = (y - 20) + "px";
          clearInterval(anim);
          switch (++click_cnt) {
            case 10:
              $elem.innerText = "OωO";
              break;
            case 20:
              $elem.innerText = "(๑•́ ∀ •̀๑)";
              break;
            case 30:
              $elem.innerText = "(๑•́ ₃ •̀๑)";
              break;
            case 40:
              $elem.innerText = "(๑•̀_•́๑)";
              break;
            case 50:
              $elem.innerText = "（￣へ￣）";
              break;
            case 60:
              $elem.innerText = "(╯°口°)╯(┴—┴";
              break;
            case 70:
              $elem.innerText = "૮( ᵒ̌皿ᵒ̌ )ა";
              break;
            case 80:
              $elem.innerText = "╮(｡>口<｡)╭";
              break;
            case 90:
              $elem.innerText = "( ง ᵒ̌皿ᵒ̌)ง⁼³₌₃";
              break;
            case 100:
            case 101:
            case 102:
            case 103:
            case 104:
            case 105:
              $elem.innerText = "(ꐦ°᷄д°᷅)";
              break;
            default:
              $elem.innerText = "❤";
              break;
          }
          $elem.style.fontSize = Math.random() * 10 + 8 + "px";
          var increase = 0;
          var anim;
          setTimeout(function() {
            anim = setInterval(function() {
              if (++increase == 150) {
                clearInterval(anim);
                $body.removeChild($elem);
              }
              $elem.style.top = y - 20 - increase + "px";
              $elem.style.opacity = (150 - increase) / 120;
            }, 8);
          }, 70);
          $body.appendChild($elem);
        };
      };
    </script>
    <script>
      //获取某URL所有参数，集成一个对象
      window.getAllUrlQuery = function(url) {
        let _url = url || window.location.href
        // 获取连接后面的参数，微信分享的链接可能会有编码问题，先decodeURI
        let params = decodeURI(_url).split('#')[0].split('?')
        // 如果只有一个数据，说明没有带参数
        if (params.length > 1) {
          let result = {}
          params = params[1].split('&')
          params.forEach(item=> {
            // 取出键值对
            let arr = item.split('=')
            let key = arr[0]
            let value = arr[1]
            // 如果出现大于2的数组，说明value中有 = 这个符号，需要拼接起来
            if (arr.length > 2) {
              arr.splice(0, 1)
              value = arr.join('=')
            }
            // 因为直接解析为对象可能会出错，如果value是对象，需要自己用JSON.parse(str)解析
            result[key] = value
          })
          console.log(result)
          return result
        }
        // 返回一个空对象
        return {}
      }
      window.urlParams = window.getAllUrlQuery()
    </script>
    <!-- built files will be auto injected -->
    <% if (htmlWebpackPlugin.options.prod) { %>
      <!-- 如果是开发环境就不需要引入cdn了，直接用本地的，不然没网都开发不了 -->

      <!-- vue -->
      <script src="https://cdn.jsdelivr.net/npm/vue@2.5.16/dist/vue.min.js"></script>
      <!-- vue-router -->
      <script src="https://cdn.bootcss.com/vue-router/3.0.1/vue-router.min.js"></script>
      <!-- element-ui 引入样式 -->
      <link rel="stylesheet" href="https://unpkg.com/element-ui@2.3.4/lib/theme-chalk/index.css">
      <!-- element-ui 组件库 -->
      <script src="https://unpkg.com/element-ui@2.3.4/lib/index.js"></script>
      <!-- monent日期库 -->
      <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.22.1/moment.min.js"></script>
      <!-- markdown解析 -->
      <script src="https://cdn.bootcss.com/marked/0.4.0/marked.js"></script>
      <script src="https://cdn.bootcss.com/highlight.js/9.12.0/highlight.min.js"></script>

      <script>
        // 百度统计
        var _hmt = _hmt || [];
        (function() {
          var hm = document.createElement("script");
          hm.src = "https://hm.baidu.com/hm.js?5a9e01d09595feff53e3ab0f2b6b33e9";
          var s = document.getElementsByTagName("script")[0];
          s.parentNode.insertBefore(hm, s);
        })();
    </script>
    <% } else { %>
      <script>
        // 百度统计
        // window.baidu = ({from = (window.urlParams.ADTAG || '-'), type = 'page', event = '-'}) => {
        //   console.log('dev模式不上报百度统计：', from, type, event)
        // }
      </script>
    <!-- 右下角live2d效果 -->
    <% } %>
  </body>
</html>
